<h1 class="text-4xl font-bold">Blogs</h1>
<div class="block">
  <% @blog_posts.each do |post| %>
    <div class="mb-6">
      <% if post.draft? %>
        <div class="text-gray-600 bg-gray-100 rounded inline-block px-2 py-1 text-xs">Draft</div>
      <% elsif post.scheduled?  %>
        <div class="text-gray-600 bg-gray-100 rounded inline-block px-2 py-1 text-xs">Draft</div>
      <% end %>
      <h2 class="mt-0"><%= link_to post.title, post, class: 'no-underline font-medium text-xl text-blue-600' %></h2>
      <p><%= post.body %></p>
    </div>
  <% end %>
</div>
